{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="section certifications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  {% if certifications.intro %}
  <div class="intro">
      <p>{{ certifications.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for certification in certifications.assignments %}
    <div class="item">

      <span class="certification-item">
        <div class="certification-title">{{ certification.title }}</div>
        <div class="certification-text"> {{ certification.issuer }} | 
          {% if certification.link %}
            <a href="{{ certification.link }}" target="_blank">{{ certification.credentials }}</a>
          {% else %}
            {{ certification.credentials }} | <a href="{{ site.baseurl }}/assets/documents/{{ certification.file }}" 
              download="masterz-stefano-piasentin.pdf">Download</a>
          {% endif %}
        </div>
      </span>

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
