/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

    body{
        padding: 0;
    }

    .sidebar-wrapper {
        position: static;
        width: inherit;
    }

    .main-wrapper {
        padding: 30px;
    }

    .main-wrapper .time {
        position: static;
        display: block;
        margin-top: 0px; 
        margin-bottom: 8px;
        text-align: left;
    }

    .main-wrapper .company {
        margin-bottom: 0px;
    }

    .main-wrapper .university {
        margin-bottom: 0px;
        color: $text-color-secondary;
    }

    .main-wrapper .company {
        margin-bottom: 0px;
        color: $text-color-secondary;
    }

    .main-wrapper .upper-row {
        margin-bottom: 0;
    }


}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .right-col-titles {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .left-col-titles {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .skillset .level-title {
        display: inline-block;
        float: left;
        width: 40%;
        margin-bottom: 0;
    }

    .skillset .level-bar {
        display: inline-block;
        width: 60%;
        float: left;
        position: relative;
        top: 1px;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {

}
