/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

    body{
        padding: 0;
    }

    .sidebar-wrapper {
        position: static;
        width: inherit;
    }

    .main-wrapper {
        padding: 30px;
    }

    .main-wrapper .time {
        position: static;
        display: block;
        margin-top: 0px; 
        margin-bottom: 12px;
        text-align: left;
        font-size: 14px;
    }

    .main-wrapper .university {
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 16px;
        color: $text-color-secondary;
    }

    .main-wrapper .certification-title {
        font-size: 15px;
        font-weight: bold;
        color: $text-color-secondary;
    }

    .main-wrapper .company {
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 16px;
        color: $text-color-secondary;
    }

    .main-wrapper .upper-row {
        margin-bottom: 0;
    }

    .main-wrapper .job-title {
        font-size: 18px;
        font-weight: bold;
    }

    .main-wrapper .degree {
        font-size: 18px;
        font-weight: bold;
    }

    .skillset .level-title {
        float: left;
        width: 220px;
        margin-bottom: 0;
    }

    .skillset .level-bar {
        margin-left: 220px;
        // width: 100%;
        position: relative;
        top: 1px;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .right-col-titles {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        float: left;
    }
    
    .left-col-titles {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
        float: left;
    }

    .skillset .level-title {
        float: left;
        width: 220px;
        margin-bottom: 0;
    }

    .skillset .level-bar {
        margin-left: 220px;
        // width: 100%;
        position: relative;
        top: 1px;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {

}
